<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.silent.fiveghost.guide">

    <!-- 第三方登录分享权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!-- 腾讯Bugly -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 引导页面 -->
        <activity
            android:name=".ui.welcom.WelcomActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:theme="@style/AppTheme" />
        <!-- 开始页面 -->
        <activity
            android:name=".ui.start.StartActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--  -->
        <activity
            android:name=".ui.Zxing.ZxingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.version.VersionActivity"
            android:theme="@style/AppTheme" />
        <!-- 登录页面 -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.Zxing.ScanActivity"
            android:theme="@style/AppTheme" />
        <!-- 注册页面 -->
        <activity
            android:name=".ui.register.RegisterActivity"
            android:theme="@style/AppTheme" />

        <!-- 以下是友盟分享 -->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--
            <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        -->
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 友盟分享 -->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a4059a8a40fa34e710000aa" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="3401f8c2d9ea8f20a9f551f5df71054a" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />
        <!-- 腾讯bogly 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="d7bf6471ca" />
        <!-- 腾讯bogly 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="APP_Version" />
        <!-- 腾讯bogly 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="APP_Channel" />
        <!-- 腾讯bogly 配置Bugly调试模式（true或者false） -->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />

        <!-- Android AutoLayout 设置原稿尺寸 -->
        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" />
        <!-- Android AutoLayout 设置原稿尺寸 -->

        <activity android:name=".ui.re_password.RePasswordActivity" />
        <activity android:name=".ui.route_details.DetailsRoute" />
        <activity android:name=".ui.home.TouristReservationActivity" />
        <activity android:name=".ui.home.TravelAgencyActivity" />
        <activity android:name=".ui.home.MyRouteActivity" />
        <activity android:name=".ui.home.MySettingActivity" />
        <activity android:name=".ui.home.MyRouteDetailsActivity" />
        <activity android:name=".ui.home.ReleaseRouteActivity" />
        <activity android:name=".ui.orderdetails.OrderDetailsActivity" />
    </application>

</manifest>